name: Java CI with Allure Report

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

permissions:
  contents: write
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven

          cache-dependency-path: SauceDemo-Selenium-Cucumber-Framework/pom.xml

      - name: Install Dependencies
        working-directory: SauceDemo-Selenium-Cucumber-Framework
        run: mvn clean install -DskipTests

      - name: Run Tests
        working-directory: SauceDemo-Selenium-Cucumber-Framework
        run: mvn clean test
        continue-on-error: true

      - name: Get Allure history
        uses: actions/checkout@v4
        if: always()
        continue-on-error: true
        with:
          ref: gh-pages
          path: gh-pages-dir

      - name: Allure Report Action
        uses: simple-elf/allure-report-action@master
        if: always()
        with:
 
          allure_results: SauceDemo-Selenium-Cucumber-Framework/target/allure-results
          allure_history: allure-history
          keep_reports: 20

      - name: Deploy Report to GitHub Pages
        if: always()
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: gh-pages
          publish_dir: allure-history
